root = true;

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = false
trim_trailig_whitespace = true

[*.csproj]
indent_size = 2
tab_width = 2

[*.cs]
indent_size = 2
tab_width = 2

[*.json]
indent_size = 2
tab_width = 2